In [12]:
import pathlib
import shapely

import pandas as pd
import geopandas as gpd

In [2]:
data_dir = pathlib.Path('~/data/euris').expanduser()

In [ ]:
for excel_file in data_dir.glob('*.xlsx'):
    ris_df = pd.read_excel(data_dir / excel_file)
    ris_df_geoms = gpd.points_from_xy(x=ris_df["Lat"], y=ris_df["long_"], crs="EPSG:4326")
    
    ris_gdf = gpd.GeoDataFrame(ris_df, geometry=ris_df_geoms)
    ris_gdf.to_file((data_dir / excel_file).with_suffix('.geojson'))

In [16]:
gpd.GeoDataFrame(ris_df, geometry=ris_df_geoms)

,CountryCode,UNLOCODE,FW_CODE,OBJECT_CODE,HECTOM,CountryCodeUNLOCODEFW_CODEOBJECT_CODEHECTOM,Functie,ObjectName,NationalObjectName,LocationName,...,for_ship_type__shptyp__3,for_use_of_ship__useshp__3,Link_to_external_XML_file_time_schedule__schref__3,Link_to_external_XML_file_passage_time__aptref__3,Date_Beg_Loc,Date_End_Loc,Date_Info,Source,Reason,geometry
0,LU,WSG,3201,BER31,2066,LUWSG03201BER3102066,berths_3,Liegestelle WB,Liegestelle WB,NaN,...,NaN,NaN,NaN,NaN,2022-07-01,2100-01-01,2022-03-07,SN,Objects for Luxemburg added,POINT (49.71122 6.49776)
1,LU,MRT,3201,BER31,2082,LUMRT03201BER3102082,berths_3,Wartequai Hafen Mertert,Wartequai Hafen Mertert,NaN,...,NaN,NaN,NaN,NaN,2022-07-01,2100-01-01,2022-03-07,SN,Objects for Luxemburg added,POINT (49.69943 6.48287)
2,LU,MRT,3201,HRBS1,2085,LUMRT03201HRBS102085,hrbbsn,Hafen Mertert,Hafen Mertert,NaN,...,NaN,NaN,NaN,NaN,2022-07-01,2100-01-01,2022-03-07,SN,Objects for Luxemburg added,POINT (49.69678 6.47445)
3,LU,GVC,3201,BER31,2164,LUGVC03201BER3102164,berths_3,Liegestelle Nittel,Liegestelle Nittel,NaN,...,NaN,NaN,NaN,NaN,2022-07-01,2100-01-01,2022-03-07,SN,Objects for Luxemburg added,POINT (49.65213 6.44009)
4,LU,CDE,3201,BER31,2244,LUCDE03201BER3102244,berths_3,Liegestelle Ehnen,Liegestelle Ehnen,NaN,...,NaN,NaN,NaN,NaN,2022-07-01,2100-01-01,2022-03-07,SN,Objects for Luxemburg added,POINT (49.59645 6.37960)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,LU,MRT,10001,00000,6,LUMRT100010000000006,dismar,"km 0,6","km 0,6",NaN,...,NaN,NaN,NaN,NaN,2022-01-26,2100-01-01,2022-05-17,WSV,NaN,POINT (49.69634 6.47301)
408,LU,MRT,10001,00000,7,LUMRT100010000000007,dismar,"km 0,7","km 0,7",NaN,...,NaN,NaN,NaN,NaN,2022-01-26,2100-01-01,2022-05-17,WSV,NaN,POINT (49.69586 6.47174)
409,LU,MRT,10001,00000,8,LUMRT100010000000008,dismar,"km 0,8","km 0,8",NaN,...,NaN,NaN,NaN,NaN,2022-01-26,2100-01-01,2022-05-17,WSV,NaN,POINT (49.69537 6.47047)
410,LU,MRT,10001,00000,9,LUMRT100010000000009,dismar,"km 0,9","km 0,9",NaN,...,NaN,NaN,NaN,NaN,2022-01-26,2100-01-01,2022-05-17,WSV,NaN,POINT (49.69489 6.46920)
411,LU,MRT,10001,00000,10,LUMRT100010000000010,dismar,"km 1,0","km 1,0",NaN,...,NaN,NaN,NaN,NaN,2022-01-26,2100-01-01,2022-05-17,WSV,NaN,POINT (49.69441 6.46793)

In [11]:
ris_df[

0    6.497764
1    6.482872
2    6.474445
3    6.440092
4    6.379605
Name: long_, dtype: float64