In [199]:
import pandas as pd
import geopandas as gpd
from pathlib import Path
import geojson

In [208]:
# betrekkingslijnen (From Remi)
data = Path('~/data/vaarwegen/Betrekkingslijnen2018/Betrekkingslijnen_2018_h-Lobith_650-1780_rkm.xlsx')

# https://geodata.nationaalgeoregister.nl/nwbvaarwegen/wfs?request=GetFeature&service=WFS&version=2.0.0&outputFormat=json&typeNames=nwbvaarwegen:kmmarkeringen
kmmarkering = Path('~/data/vaarwegen/kilometerraaien/kmmarkeringen.geojson').expanduser()

# https://geodata.nationaalgeoregister.nl/nwbvaarwegen/wfs?request=GetFeature&service=WFS&version=1.1.0&outputFormat=json&typeName=vaarwegvakken
vaarwegvakken = Path('~/data/vaarwegen/kilometerraaien/vaarwegvakken.geojson').expanduser()

# Excel sheet names with corresponding vaarwegvakken names
sheet_names = {
    "Bovenrijn-Waal": "Boven-Rijn|Waal",
    "Pkan-NRijn-Lek": "Pannerdensch Kanaal|Neder-Rijn|Lek",
    "IJssel": "IJssel"
}

In [257]:
# Read betrekingslijnen  NOTE: usecols is hardcoded!
df = pd.read_excel(data, sheet_name=list(sheet_names.keys()), skiprows=[0, 1, 3, 4, 5], header=0, usecols="B:DL", index_col=0)

In [232]:
# Column: Discharge Lobith [m3/s]
# Row: Kilometermarkering
# Cell: ws -> waterstand [m+NAP]

df['IJssel']

,703.30,738.98,774.78,810.84,847.19,883.69,919.63,958.35,999.80,1040.45,...,13046.74,13366.10,13691.69,14023.47,14361.35,14705.30,15055.23,15411.12,15772.93,16140.64
878.460,6.077600,6.169158,6.264063,6.349100,6.435987,6.524606,6.614836,6.706560,6.799658,6.894011,...,14.115172,14.189618,14.264858,14.340961,14.417999,14.496046,14.575175,14.655464,14.736990,14.819835
879.000,6.010000,6.100000,6.190000,6.280000,6.370000,6.450000,6.530000,6.630000,6.720000,6.810000,...,13.890000,13.950000,14.010000,14.080000,14.140000,14.210000,14.280000,14.340000,14.410000,14.480000
880.000,5.860000,5.950000,6.040000,6.120000,6.210000,6.300000,6.400000,6.490000,6.580000,6.670000,...,13.620000,13.670000,13.720000,13.770000,13.820000,13.870000,13.920000,13.960000,14.010000,14.050000
881.000,5.740000,5.820000,5.910000,6.000000,6.090000,6.180000,6.270000,6.360000,6.450000,6.540000,...,13.470000,13.520000,13.560000,13.610000,13.650000,13.690000,13.730000,13.770000,13.800000,13.840000
881.075,5.730232,5.817254,5.904985,5.993425,6.082573,6.172431,6.262998,6.354274,6.446259,6.538953,...,13.460412,13.507663,13.553375,13.597475,13.639890,13.680543,13.719356,13.756249,13.791138,13.823940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002.000,-0.390000,-0.390000,-0.390000,-0.390000,-0.400000,-0.390000,-0.390000,-0.380000,-0.370000,-0.370000,...,0.720000,0.750000,0.790000,0.820000,0.860000,0.900000,0.940000,0.980000,1.030000,1.070000
1003.000,-0.390000,-0.390000,-0.390000,-0.390000,-0.400000,-0.390000,-0.390000,-0.380000,-0.370000,-0.370000,...,0.660000,0.680000,0.710000,0.750000,0.790000,0.830000,0.860000,0.900000,0.950000,0.990000
1004.000,-0.390000,-0.390000,-0.390000,-0.390000,-0.400000,-0.390000,-0.390000,-0.380000,-0.380000,-0.370000,...,0.570000,0.570000,0.600000,0.640000,0.680000,0.720000,0.720000,0.770000,0.810000,0.860000
1005.000,-0.390000,-0.390000,-0.390000,-0.390000,-0.400000,-0.390000,-0.390000,-0.390000,-0.380000,-0.370000,...,0.490000,0.480000,0.510000,0.550000,0.590000,0.630000,0.610000,0.650000,0.700000,0.750000
1006.000,-0.394500,-0.394500,-0.394500,-0.394500,-0.402941,-0.396712,-0.395783,-0.389555,-0.383326,-0.377097,...,0.334593,0.286773,0.322287,0.359276,0.397779,0.437836,0.365588,0.408875,0.453837,0.500514

In [278]:
# read kilometermarkering
kmm_df= gpd.read_file(kmmarkering, crs=28992)

# read vaarwegvakken
vwv_df = gpd.read_file(vaarwegvakken, crs=28992)

print(vwv_df.crs)

vwv = {}
kmm = {}
waterdepth = {}

# Dict with vaarwegvakken per River
for key, value in sheet_names.items():
    # Select vaarwegvakken for River
    vwv[key] = vwv_df.loc[vwv_df["vrt_naam"].str.contains(value, case=False)]
    # Select kilometermarkeringen
    kmm[key] = kmm_df.loc[kmm_df["vwk_id"].isin(vwv[key]["vwk_id"])]
    # Merge kilometermarkering with waterdepth data
    waterdepth[key] = df[key].merge(kmm[key], how="left", left_index=True, right_index=False, right_on="gtlwaarde" ).set_index('gtlwaarde')
    


ws = pd.concat([waterdepth["Bovenrijn-Waal"], waterdepth["Pkan-NRijn-Lek"], waterdepth["IJssel"]])

ws

epsg:28992

,703.3,738.98,774.78,810.84,847.19,883.69,919.63,958.35,999.8,1040.45,...,15772.93,16140.64,id,vwk_id,vwk_begindatum,pos_tov_as,ltrwaarde,afstand,mst_code,geometry
gtlwaarde,,,,,,,,,,,,,,,,,,,,,
854.0,7.9300,7.9900,8.0600,8.1300,8.210000,8.290000,8.390000,8.480000,8.570000,8.660000,...,19.690000,19.840000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
855.0,7.7100,7.7800,7.8500,7.9300,8.010000,8.100000,8.190000,8.280000,8.370000,8.470000,...,19.390000,19.530000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
856.0,7.4300,7.5100,7.5800,7.6700,7.750000,7.840000,7.930000,8.030000,8.120000,8.220000,...,19.210000,19.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
857.0,7.2100,7.2900,7.3700,7.4600,7.550000,7.640000,7.760000,7.860000,7.950000,8.050000,...,19.030000,19.160000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
858.0,7.0400,7.1300,7.2200,7.3100,7.400000,7.490000,7.620000,7.710000,7.810000,7.910000,...,18.740000,18.860000,kmmarkeringen.1873,5641.0,2019-10-31,R,None,245.0,B,POINT (208483.685 428425.162)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002.0,-0.3900,-0.3900,-0.3900,-0.3900,-0.400000,-0.390000,-0.390000,-0.380000,-0.370000,-0.370000,...,1.030000,1.070000,kmmarkeringen.898,1412.0,2012-12-31,R,None,446.0,P,POINT (185552.685 510632.630)
1003.0,-0.3900,-0.3900,-0.3900,-0.3900,-0.400000,-0.390000,-0.390000,-0.380000,-0.370000,-0.370000,...,0.950000,0.990000,kmmarkeringen.1169,1413.0,2012-12-31,R,None,923.0,P,POINT (184456.920 510711.802)
1004.0,-0.3900,-0.3900,-0.3900,-0.3900,-0.400000,-0.390000,-0.390000,-0.380000,-0.380000,-0.370000,...,0.810000,0.860000,kmmarkeringen.899,1413.0,2012-12-31,R,None,1919.0,P,POINT (183461.379 510741.195)
1005.0,-0.3900,-0.3900,-0.3900,-0.3900,-0.400000,-0.390000,-0.390000,-0.390000,-0.380000,-0.370000,...,0.700000,0.750000,kmmarkeringen.1170,1413.0,2012-12-31,R,None,2903.0,P,POINT (182477.586 510735.885)
1006.0,-0.3945,-0.3945,-0.3945,-0.3945,-0.402941,-0.396712,-0.395783,-0.389555,-0.383326,-0.377097,...,0.453837,0.500514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [281]:
# Not all records have a geometry. Remove all data without geometry
# This is data between kilometermarkeringen and some points in germany
ws = ws.loc[~ws['geometry'].isnull()]
ws

,703.3,738.98,774.78,810.84,847.19,883.69,919.63,958.35,999.8,1040.45,...,15772.93,16140.64,id,vwk_id,vwk_begindatum,pos_tov_as,ltrwaarde,afstand,mst_code,geometry
gtlwaarde,,,,,,,,,,,,,,,,,,,,,
858.0,7.04,7.13,7.22,7.31,7.40,7.49,7.62,7.71,7.81,7.91,...,18.74,18.86,kmmarkeringen.1873,5641.0,2019-10-31,R,None,245.0,B,POINT (208483.685 428425.162)
859.0,6.90,6.99,7.08,7.18,7.27,7.37,7.49,7.59,7.68,7.78,...,18.59,18.71,kmmarkeringen.1874,5641.0,2019-10-31,R,None,1218.0,B,POINT (207577.070 428777.472)
860.0,6.76,6.86,6.95,7.04,7.14,7.24,7.36,7.46,7.56,7.66,...,18.46,18.58,kmmarkeringen.1875,5641.0,2019-10-31,R,None,2181.0,B,POINT (206648.079 429027.343)
861.0,6.63,6.73,6.82,6.92,7.02,7.12,7.23,7.33,7.43,7.53,...,18.27,18.38,kmmarkeringen.1876,5641.0,2019-10-31,R,None,3193.0,B,POINT (205639.535 429074.712)
862.0,6.52,6.62,6.72,6.82,6.92,7.02,7.13,7.23,7.33,7.43,...,17.87,17.98,kmmarkeringen.1877,5641.0,2019-10-31,R,None,4199.0,B,POINT (204636.708 429104.943)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.38,-0.38,-0.37,-0.37,...,1.12,1.17,kmmarkeringen.1260,4551.0,2012-12-31,R,None,1255.0,P,POINT (186370.638 510558.876)
1002.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.38,-0.37,-0.37,...,1.03,1.07,kmmarkeringen.898,1412.0,2012-12-31,R,None,446.0,P,POINT (185552.685 510632.630)
1003.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.38,-0.37,-0.37,...,0.95,0.99,kmmarkeringen.1169,1413.0,2012-12-31,R,None,923.0,P,POINT (184456.920 510711.802)
1004.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.38,-0.38,-0.37,...,0.81,0.86,kmmarkeringen.899,1413.0,2012-12-31,R,None,1919.0,P,POINT (183461.379 510741.195)
1005.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.39,-0.38,-0.37,...,0.70,0.75,kmmarkeringen.1170,1413.0,2012-12-31,R,None,2903.0,P,POINT (182477.586 510735.885)

In [285]:
# Transform geometry


ws = gpd.GeoDataFrame(ws, crs=28992, geometry="geometry")

# correct crs
ws = ws.to_crs(4326)

ws

,703.3,738.98,774.78,810.84,847.19,883.69,919.63,958.35,999.8,1040.45,...,15772.93,16140.64,id,vwk_id,vwk_begindatum,pos_tov_as,ltrwaarde,afstand,mst_code,geometry
gtlwaarde,,,,,,,,,,,,,,,,,,,,,
858.0,7.04,7.13,7.22,7.31,7.40,7.49,7.62,7.71,7.81,7.91,...,18.74,18.86,kmmarkeringen.1873,5641.0,2019-10-31,R,None,245.0,B,POINT (6.16330 51.84184)
859.0,6.90,6.99,7.08,7.18,7.27,7.37,7.49,7.59,7.68,7.78,...,18.59,18.71,kmmarkeringen.1874,5641.0,2019-10-31,R,None,1218.0,B,POINT (6.15020 51.84509)
860.0,6.76,6.86,6.95,7.04,7.14,7.24,7.36,7.46,7.56,7.66,...,18.46,18.58,kmmarkeringen.1875,5641.0,2019-10-31,R,None,2181.0,B,POINT (6.13676 51.84743)
861.0,6.63,6.73,6.82,6.92,7.02,7.12,7.23,7.33,7.43,7.53,...,18.27,18.38,kmmarkeringen.1876,5641.0,2019-10-31,R,None,3193.0,B,POINT (6.12213 51.84795)
862.0,6.52,6.62,6.72,6.82,6.92,7.02,7.13,7.23,7.33,7.43,...,17.87,17.98,kmmarkeringen.1877,5641.0,2019-10-31,R,None,4199.0,B,POINT (6.10758 51.84831)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.38,-0.38,-0.37,-0.37,...,1.12,1.17,kmmarkeringen.1260,4551.0,2012-12-31,R,None,1255.0,P,POINT (5.85004 52.58171)
1002.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.38,-0.37,-0.37,...,1.03,1.07,kmmarkeringen.898,1412.0,2012-12-31,R,None,446.0,P,POINT (5.83798 52.58242)
1003.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.38,-0.37,-0.37,...,0.95,0.99,kmmarkeringen.1169,1413.0,2012-12-31,R,None,923.0,P,POINT (5.82182 52.58319)
1004.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.38,-0.38,-0.37,...,0.81,0.86,kmmarkeringen.899,1413.0,2012-12-31,R,None,1919.0,P,POINT (5.80714 52.58351)
1005.0,-0.39,-0.39,-0.39,-0.39,-0.40,-0.39,-0.39,-0.39,-0.38,-0.37,...,0.70,0.75,kmmarkeringen.1170,1413.0,2012-12-31,R,None,2903.0,P,POINT (5.79262 52.58351)